<div class="landing-page">


  <nav class="navbar navbar-inverse navbar-fixed-top transition main-nav">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">
            <img src="../assets/logo.png" alt="logo image" class="transition img-responsive">
          </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a class="page-scroll"  routerLink="/">Add Quote</a></li>
            <li><a class="page-scroll"  routerLink="Quotes">View Quotes</a></li>
            <li><a class="page-scroll" href="#contact">Contact Us</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav><!-- /navbar -->

    <!-- ============= banner ============= -->
    <div id="home" class="banner">
      <div class="overlay"></div>
      <div class="banner-content">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              <h1>Rub <span>&</span> Polish</h1>
              <p>It is good to rub, and polish
                  our brain against that of others.
              </p>
              <p>~Michel Eyquem de Montaigne</p>
              <a class="btn btn-primary page-scroll" role="button">Share Quote</a>
              <a  class="btn btn-primary" role="button">View Quotes</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<!-- <router-outlet></router-outlet> -->

